body {
  color: #656e83;
  font-size: 14px;
  line-height: 1.42857143;
  text-rendering: auto;
  font-family: 'Arial-Regular';
  background-color: #F2F7FB;  
}
*, *:focus {
  outline: none;
}
a {
  color: #656e83;
  transition: all ease .4s;
}
a:focus {
  outline: none;
  outline-offset: 0;
}
a:hover, a:focus {
  color: #0082D5;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  padding-bottom: 10px;
  margin-bottom: 0;
  line-height: 1.3;
  color: #2B2B2B;
}
p {
  padding-bottom: 10px;
  margin-bottom: 0;
  color: #252525;
  font-size: 16px;
  line-height: 24px;
}
button, button:focus {
  outline: none;
  outline-offset: 0;
}
figure {
  margin: 0;
}
iframe {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  border: none;
}
video {
 display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  border: none; 
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
::selection {
  background: #0082D5;
  color: #ffffff;
}
::-webkit-selection {
  background: #0082D5;
  color: #ffffff;
}
::-moz-selection {
  background: #0082D5;
  color: #ffffff;
}
::-o-selection {
  background: #0082D5;
  color: #ffffff;
}
::-ms-selection {
  background: #0082D5;
  color: #ffffff;
}
::-webkit-input-placeholder {
  color: #808080 !important;
  opacity: 1;
}
::-moz-placeholder {
  color: #808080 !important;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #808080 !important;
  opacity: 1;
}
:-moz-placeholder {
  color: #808080 !important;
  opacity: 1;
}
/* Form CSS */
.form-group {
  margin-bottom: 15px;
}
.form-control {
  height: 45px;
  padding: 12px 15px;
  background-color: #fff;
  color: #808080;
  font-size: 13px;
  border: 1px solid #9DCFEF;
  transition: all ease .4s;
  border-radius: 2px;
  appearance: none;
}
.form-control:focus {
  background-color: #fff;
  color: #808080;
  box-shadow: none;
}
textarea.form-control {
  height: 250px;
  resize: none;
}
input[type="submit"] {
  border: 1px solid transparent;
  transition: all ease .4s;
}
select.form-control {
  background-image: url("./images/Arrow-Icon.svg");
  background-position: 95% 50%;
  background-repeat: no-repeat;
  background-size: 13px auto;
  color: #727272;
  border-radius: 50px;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select.form-control:focus {
  color: #727272;
}
select.form-control::-ms-expand {
  display: none;
}
/*button[type="submit"] {
  border: none;
}*/
label {
  display: block;
  color: #2B2D42;;
}
/* Normal CSS */
.table-wrap {
  display: table;
  width: 100%;
  height: 100%;
}
.align-wrap {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.oticon-btn {
  display: inline-block;
  padding: 10px 15px;
  background: #c5168d;
  border: 1px solid #c5168d;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  position: relative;
  outline: none;
  cursor: pointer;
  transition: all ease .4s;
  border-radius: 0;
  text-transform: uppercase;
}
.oticon-btn:hover, .oticon-btn:focus {
  background-color: #c5168d;
  color: #fff;
  border-color: #c5168d;
  opacity: 0.8;
  box-shadow: none !important;
}

/* Fonts */
@font-face {
  font-family: 'Calibri-Regular';
  src: url('./fonts/Calibri.eot');
  src: url('./fonts/Calibri.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Calibri.woff2') format('woff2'),
      url('./fonts/Calibri.woff') format('woff'),
      url('./fonts/Calibri.ttf') format('truetype'),
      url('./fonts/Calibri.svg#Calibri') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Calibri-Bold';
  src: url('./fonts/Calibri-Bold.eot');
  src: url('./fonts/Calibri-Bold.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Calibri-Bold.woff2') format('woff2'),
      url('./fonts/Calibri-Bold.woff') format('woff'),
      url('./fonts/Calibri-Bold.ttf') format('truetype'),
      url('./fonts/Calibri-Bold.svg#Calibri-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Arial-Regular';
  src: url('./fonts/ArialMT.eot');
  src: url('./fonts/ArialMT.eot?#iefix') format('embedded-opentype'),
      url('./fonts/ArialMT.woff2') format('woff2'),
      url('./fonts/ArialMT.woff') format('woff'),
      url('./fonts/ArialMT.ttf') format('truetype'),
      url('./fonts/ArialMT.svg#ArialMT') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Arial-Bold';
  src: url('./fonts/Arial-BoldMT.eot');
  src: url('./fonts/Arial-BoldMT.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Arial-BoldMT.woff2') format('woff2'),
      url('./fonts/Arial-BoldMT.woff') format('woff'),
      url('./fonts/Arial-BoldMT.ttf') format('truetype'),
      url('./fonts/Arial-BoldMT.svg#Arial-BoldMT') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

[data-id="tooltip"] {
  background: #184F93 !important;
  padding: 6px 14px !important;
  border-radius: 3px !important;
  font-size: 11px !important;
}
[data-id="tooltip"]:after {
  border-bottom-color: #184F93 !important;
}
.__react_component_tooltip.place-top::after {
  border-top-color: #184F93 !important;
}








.modalWrap {
  max-width: 1080px;
  border-radius: 0;
}
.modalWrap .modal-content {
  border-radius: 0;
}
.modalWrap .modal-header {
  display: inline-block;
  width: 100%;
  padding: 40px 90px;
  border: none;
}
.modalWrap .modalTitle {
  position: relative;
  font-size: 24px;
  font-family: 'Arial-Bold';
  color: #2B2B2B;
}
.modalWrap .modalTitle:before, .project-static.modalWrap .modalTitle:after, .existing-bot.modalWrap .modalTitle:after, .processed-url-block .modal-header .modalTitle:after {
  position: absolute;
  right: -100%;
  top: 50%;
  background-image: url('./images/Progress-Bar1.svg');
  background-repeat: no-repeat;
  content: "";
  width: 393px;
  height: 5px;
}
.modalWrap .modal-header .closeButton {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 23px;
  height: 23px;
  border-radius: 100%;
  cursor: pointer;
  float: right;
  top: -30px;
  right: -75px;
}
.modalWrap .modal-header .closeButton:before, .modalWrap .modal-header .closeButton:after {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: " ";
  height: 18px;
  width: 2px;
  background-color: #808080;
  top: 5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modalWrap .modal-header .closeButton:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.modalWrap .modalBodyContent label {
  font-size: 20px;
  color: #2B2B2B;
  font-family: 'Arial-Bold';
  display: inline-block;
  vertical-align: top;
  width: 280px;
  text-align: right;
  margin-right: 15px;
}
.modalWrap .modalBodyContent .form-control {
  width: 600px;
  display: inline-block;
}
.modalWrap .modalBodyContent .uploadIcon input {
  position: absolute;
  opacity: 0;
  /* visibility: hidden; */
}
.modalWrap .form-group-inner {
  display: inline-block;
  width: 45%;
}
.modalWrap .form-group-inner .form-control {
  width: 106px;
  border-radius: 5px;
}
.modalWrap .modalBodyContent label span {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  font-family: 'Arial-Regular';
  vertical-align: top;
}
.modalWrap .btn-block {
  text-align: right;
  padding-top: 20px;
}
.modalWrap .btn-block a {
  display: inline-block;
  padding: 10px 15px;
  font-size: 15px;
  border: 1px solid #0082D5;
  color: #0082D5;
  margin-left: 20px;
  text-decoration: none;
  min-width: 116px;
  text-align: center;
  border-radius: 3px;
}
.modalWrap .btn-block a.style-two {
  background-color: #0082D5;
  color: #fff;
}

.css-1jllj6i-control {
  display: none !important;
}
.multi-select-box button ~ div {
  border-left: 1px solid #0082D5 !important;
  border-right: 1px solid #0082D5 !important;
  border-bottom: 1px solid #0082D5 !important;
  margin-top: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.css-48ayfv {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.pagination-block nav {
  float: right;
}
.pagination-block {
  margin-bottom: 30px;
  display: inline-block;
  width: 100%;
}
.pagination-block .pagination {
  justify-content: flex-end;
  background-color: transparent;
  border-radius: 30px;
  border:1px solid #0082D5;
}
.pagination-block .pagination .page-item:first-child .page-link {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 5px 30px;
}
.pagination-block .pagination .page-item:first-child .page-link:hover,.pagination-block .pagination .page-item:first-child .page-link:focus, .pagination-block .pagination .page-item:last-child .page-link:hover, .pagination-block .pagination .page-item:last-child .page-link:focus {
  background-color: transparent;
  color: #0082D5;
}
.pagination-block .pagination .page-item:last-child .page-link {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 5px 30px;
}
.pagination-block .pagination .page-item .page-link {
  border:none;
  font-size: 24px;
  color: #0082D5;
  background-color: transparent;
}
.pagination-block .pagination .page-item .page-link:hover, .pagination-block .pagination .page-item .page-link:focus, .pagination-block .pagination .page-item.active .page-link {
  background-color: #0082D5;
  color: #fff;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.pagination-block .pagination .page-item {
  background-color: transparent;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.pagination-block .pagination .page-item:first-child {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.pagination-block .pagination .page-item:last-child {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.pagination-block .pagination .page-item:first-child .page-link, .pagination-block .pagination .page-item:last-child .page-link {
  clip-path: none;
}
.e-input-group:not(.e-float-icon-left):not(.e-float-input)::before, .e-input-group:not(.e-float-icon-left):not(.e-float-input)::after, .e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before, .e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after, .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before, .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after, .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before, .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after {
  background-color: #0082D5 !important;
}
.e-checkbox-wrapper .e-frame.e-check, .e-css.e-checkbox-wrapper .e-frame.e-check {
  background-color: #fff !important;
  border-color: #0082D5 !important;
}
.e-popup.e-multi-select-list-wrapper.e-multiselect-group.e-checkbox .e-list-group-item.e-active.e-hover, .e-ddl.e-popup.e-multiselect-group .e-list-group-item.e-item-focus {
  background-color: #184F93 !important;
  color: #fff !important;
}
.e-checkbox-wrapper .e-frame.e-check, .e-css.e-checkbox-wrapper .e-frame.e-check {
  color: #0082D5;
}
.e-checkbox-wrapper .e-frame, .e-css.e-checkbox-wrapper .e-frame {
  border-color: #0082D5 !important;
  border-radius: 3px;
  border:1px solid #0082D5 !important;
}
.e-popup.e-multi-select-list-wrapper.e-checkbox .e-list-item.e-active.e-hover {
  background-color: #0082D5;
  color: #fff;
}

@media screen and (max-width:1199px) {
  .modalWrap {
    border: 15px solid transparent;
  }
  .modalWrap .modal-header {
    padding: 30px 50px;
  }
  .modalWrap .modal-header .closeButton {
    top: -20px;
    right: -30px;
  }
  .modalWrap .modalTitle {
    font-size: 22px;
  }
  .modalWrap .modalBodyContent label {
    width: 240px;
    font-size: 16px;
  }
}
@media screen and (max-width:991px) {
  .modalWrap .modalTitle {
    font-size: 20px;
  }
  .modalWrap .modalTitle::before {
    display: none;
  }
  .modalWrap .modalBodyContent label {
    width: 100%;
    text-align: left;
  }
  .modalWrap .modalBodyContent .form-control {
    width: 100%;
  }
  .modalWrap .form-group-inner {
    width: 100%;
    margin-bottom: 15px;
  }
  textarea.form-control {
    height: 150px;
  }
  
}
@media screen and (max-width:767px) {
  .modalWrap .modal-header {
    padding: 30px 15px;
  }
  .modalWrap .modalTitle {
    display: inline-block;
    font-size: 18px;
  }
  .modalWrap {
    border-width: 5px;
  }
  .modalWrap .modal-header .closeButton {
    right: 0;
  }
}
@media screen and (max-width:479px) {
  .modalWrap .btn-block a {
    min-width: auto;
  }
}

